# Get the data

In [13]:
import pandas as pd
import os
UBER_PATH=os.path.join("datasets")
def load_uber_data(uber_path=UBER_PATH):
    csv_path = os.path.join(uber_path,"UberDataSet.csv")
    return pd.read_csv(csv_path)

In [14]:
uber_data=load_uber_data()
uber_data.head()

,Unnamed: 0,id,timestamp,hour,day,month,datetime,timezone,source,destination,...,precipIntensityMax,uvIndexTime,temperatureMin,temperatureMinTime,temperatureMax,temperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime
0,12,009e9c53-074d-43cf-aef2-0fbc7a47ed3d,1.543616e+09,22,30,11,2018-11-30 22:13:01,America/New_York,North End,West End,...,0.0003,1543593600,28.79,1543579200,42.52,1543600800,26.41,1543575600,40.53,1543611600
1,13,23f145da-f0c1-4d1f-a184-496bc003a7db,1.544698e+09,10,13,12,2018-12-13 10:50:11,America/New_York,North End,West End,...,0.0001,1544716800,18.29,1544688000,33.83,1544731200,13.79,1544688000,32.85,1544734800
2,14,357559cb-8c58-4278-a41a-e33b2e0997a3,1.544729e+09,19,13,12,2018-12-13 19:15:03,America/New_York,North End,West End,...,0.0001,1544716800,18.29,1544688000,33.83,1544731200,13.79,1544688000,32.85,1544734800
3,15,50ef1165-9d23-416c-a65c-18906207b295,1.545005e+09,23,16,12,2018-12-16 23:55:11,America/New_York,North End,West End,...,0.1252,1544979600,39.22,1544954400,43.83,1544990400,33.98,1545019200,38.38,1544986800
4,16,91c4861c-1780-42b0-bca1-bbd64a422cc3,1.544748e+09,0,14,12,2018-12-14 00:40:07,America/New_York,North End,West End,...,0.0001,1544716800,18.29,1544688000,33.83,1544731200,13.79,1544688000,32.85,1544734800

In [15]:
uber_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385663 entries, 0 to 385662
Data columns (total 58 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   385663 non-null  int64
 1   id                           385663 non-null  object
 2   timestamp                    385663 non-null  float64
 3   hour                         385663 non-null  int64
 4   day                          385663 non-null  int64
 5   month                        385663 non-null  int64
 6   datetime                     385663 non-null  object
 7   timezone                     385663 non-null  object
 8   source                       385663 non-null  object
 9   destination                  385663 non-null  object
 10  cab_type                     385663 non-null  object
 11  product_id                   385663 non-null  object
 12  name                         385663 non-null  object
 13  price                        330568 non-null  float64
 14  distance                     385663 non-null  float64
 15  surge_multiplier             385663 non-null  float64
 16  latitude                     385663 non-null  float64
 17  longitude                    385663 non-null  float64
 18  temperature                  385663 non-null  float64
 19  apparentTemperature          385663 non-null  float64
 20  short_summary                385663 non-null  object
 21  long_summary                 385663 non-null  object
 22  precipIntensity              385663 non-null  float64
 23  precipProbability            385663 non-null  float64
 24  humidity                     385663 non-null  float64
 25  windSpeed                    385663 non-null  float64
 26  windGust                     385663 non-null  float64
 27  windGustTime                 385663 non-null  int64
 28  visibility                   385663 non-null  float64
 29  temperatureHigh              385663 non-null  float64
 30  temperatureHighTime          385663 non-null  int64
 31  temperatureLow               385663 non-null  float64
 32  temperatureLowTime           385663 non-null  int64
 33  apparentTemperatureHigh      385663 non-null  float64
 34  apparentTemperatureHighTime  385663 non-null  int64
 35  apparentTemperatureLow       385663 non-null  float64
 36  apparentTemperatureLowTime   385663 non-null  int64
 37  icon                         385663 non-null  object
 38  dewPoint                     385663 non-null  float64
 39  pressure                     385663 non-null  float64
 40  windBearing                  385663 non-null  int64
 41  cloudCover                   385663 non-null  float64
 42  uvIndex                      385663 non-null  int64
 43  visibility.1                 385663 non-null  float64
 44  ozone                        385663 non-null  float64
 45  sunriseTime                  385663 non-null  int64
 46  sunsetTime                   385663 non-null  int64
 47  moonPhase                    385663 non-null  float64
 48  precipIntensityMax           385663 non-null  float64
 49  uvIndexTime                  385663 non-null  int64
 50  temperatureMin               385663 non-null  float64
 51  temperatureMinTime           385663 non-null  int64
 52  temperatureMax               385663 non-null  float64
 53  temperatureMaxTime           385663 non-null  int64
 54  apparentTemperatureMin       385663 non-null  float64
 55  apparentTemperatureMinTime   385663 non-null  int64
 56  apparentTemperatureMax       385663 non-null  float64
 57  apparentTemperatureMaxTime   385663 non-null  int64
dtypes: float64(29), int64(18), object(11)
memory usage: 170.7+ MB

In [16]:
uber_data.shape

(385663, 58)

In [17]:
uber_data=uber_data.drop_duplicates()

In [18]:
uber_data.shape

(385663, 58)

# delete the unuseful values

In [19]:
uber_data["surge_multiplier"].value_counts()

1.0    385663
Name: surge_multiplier, dtype: int64

In [20]:
uber_data["timezone"].value_counts()

America/New_York    385663
Name: timezone, dtype: int64

In [21]:
uber_data["cab_type"].value_counts()

Uber    385663
Name: cab_type, dtype: int64

In [22]:
uber_data = uber_data.drop(['surge_multiplier','timezone','cab_type'], axis=1 )
uber_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 385663 entries, 0 to 385662
Data columns (total 55 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   385663 non-null  int64
 1   id                           385663 non-null  object
 2   timestamp                    385663 non-null  float64
 3   hour                         385663 non-null  int64
 4   day                          385663 non-null  int64
 5   month                        385663 non-null  int64
 6   datetime                     385663 non-null  object
 7   source                       385663 non-null  object
 8   destination                  385663 non-null  object
 9   product_id                   385663 non-null  object
 10  name                         385663 non-null  object
 11  price                        330568 non-null  float64
 12  distance                     385663 non-null  float64
 13  latitude                     385663 non-null  float64
 14  longitude                    385663 non-null  float64
 15  temperature                  385663 non-null  float64
 16  apparentTemperature          385663 non-null  float64
 17  short_summary                385663 non-null  object
 18  long_summary                 385663 non-null  object
 19  precipIntensity              385663 non-null  float64
 20  precipProbability            385663 non-null  float64
 21  humidity                     385663 non-null  float64
 22  windSpeed                    385663 non-null  float64
 23  windGust                     385663 non-null  float64
 24  windGustTime                 385663 non-null  int64
 25  visibility                   385663 non-null  float64
 26  temperatureHigh              385663 non-null  float64
 27  temperatureHighTime          385663 non-null  int64
 28  temperatureLow               385663 non-null  float64
 29  temperatureLowTime           385663 non-null  int64
 30  apparentTemperatureHigh      385663 non-null  float64
 31  apparentTemperatureHighTime  385663 non-null  int64
 32  apparentTemperatureLow       385663 non-null  float64
 33  apparentTemperatureLowTime   385663 non-null  int64
 34  icon                         385663 non-null  object
 35  dewPoint                     385663 non-null  float64
 36  pressure                     385663 non-null  float64
 37  windBearing                  385663 non-null  int64
 38  cloudCover                   385663 non-null  float64
 39  uvIndex                      385663 non-null  int64
 40  visibility.1                 385663 non-null  float64
 41  ozone                        385663 non-null  float64
 42  sunriseTime                  385663 non-null  int64
 43  sunsetTime                   385663 non-null  int64
 44  moonPhase                    385663 non-null  float64
 45  precipIntensityMax           385663 non-null  float64
 46  uvIndexTime                  385663 non-null  int64
 47  temperatureMin               385663 non-null  float64
 48  temperatureMinTime           385663 non-null  int64
 49  temperatureMax               385663 non-null  float64
 50  temperatureMaxTime           385663 non-null  int64
 51  apparentTemperatureMin       385663 non-null  float64
 52  apparentTemperatureMinTime   385663 non-null  int64
 53  apparentTemperatureMax       385663 non-null  float64
 54  apparentTemperatureMaxTime   385663 non-null  int64
dtypes: float64(28), int64(18), object(9)
memory usage: 164.8+ MB

In [23]:
uber_data = uber_data.drop(['icon','latitude', 'longitude','source', 'destination','datetime','Unnamed: 0','id','product_id','long_summary','short_summary','timestamp'], axis=1 )
uber_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 385663 entries, 0 to 385662
Data columns (total 43 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   hour                         385663 non-null  int64
 1   day                          385663 non-null  int64
 2   month                        385663 non-null  int64
 3   name                         385663 non-null  object
 4   price                        330568 non-null  float64
 5   distance                     385663 non-null  float64
 6   temperature                  385663 non-null  float64
 7   apparentTemperature          385663 non-null  float64
 8   precipIntensity              385663 non-null  float64
 9   precipProbability            385663 non-null  float64
 10  humidity                     385663 non-null  float64
 11  windSpeed                    385663 non-null  float64
 12  windGust                     385663 non-null  float64
 13  windGustTime                 385663 non-null  int64
 14  visibility                   385663 non-null  float64
 15  temperatureHigh              385663 non-null  float64
 16  temperatureHighTime          385663 non-null  int64
 17  temperatureLow               385663 non-null  float64
 18  temperatureLowTime           385663 non-null  int64
 19  apparentTemperatureHigh      385663 non-null  float64
 20  apparentTemperatureHighTime  385663 non-null  int64
 21  apparentTemperatureLow       385663 non-null  float64
 22  apparentTemperatureLowTime   385663 non-null  int64
 23  dewPoint                     385663 non-null  float64
 24  pressure                     385663 non-null  float64
 25  windBearing                  385663 non-null  int64
 26  cloudCover                   385663 non-null  float64
 27  uvIndex                      385663 non-null  int64
 28  visibility.1                 385663 non-null  float64
 29  ozone                        385663 non-null  float64
 30  sunriseTime                  385663 non-null  int64
 31  sunsetTime                   385663 non-null  int64
 32  moonPhase                    385663 non-null  float64
 33  precipIntensityMax           385663 non-null  float64
 34  uvIndexTime                  385663 non-null  int64
 35  temperatureMin               385663 non-null  float64
 36  temperatureMinTime           385663 non-null  int64
 37  temperatureMax               385663 non-null  float64
 38  temperatureMaxTime           385663 non-null  int64
 39  apparentTemperatureMin       385663 non-null  float64
 40  apparentTemperatureMinTime   385663 non-null  int64
 41  apparentTemperatureMax       385663 non-null  float64
 42  apparentTemperatureMaxTime   385663 non-null  int64
dtypes: float64(25), int64(17), object(1)
memory usage: 129.5+ MB

# missing values

In [24]:
uber_data["price"].head(20)

0     12.0
1     16.0
2      7.5
3      7.5
4     26.0
5      5.5
6      NaN
7      8.5
8     15.0
9     20.5
10     8.5
11     7.0
12    27.5
13     NaN
14    29.5
15     9.5
16    15.0
17     NaN
18     9.5
19    22.0
Name: price, dtype: float64

In [25]:
madian = uber_data["price"].median()
uber_data["price"].fillna(madian, inplace=True)

In [26]:
uber_data["price"].head(20)

0     12.0
1     16.0
2      7.5
3      7.5
4     26.0
5      5.5
6     12.5
7      8.5
8     15.0
9     20.5
10     8.5
11     7.0
12    27.5
13    12.5
14    29.5
15     9.5
16    15.0
17    12.5
18     9.5
19    22.0
Name: price, dtype: float64

# categorical values

In [27]:
uber_data["name"].value_counts()

UberXL       55096
WAV          55096
Black SUV    55096
Black        55095
Taxi         55095
UberX        55094
UberPool     55091
Name: name, dtype: int64

In [28]:
uber_data.shape

(385663, 43)

In [29]:
uber_data = pd.get_dummies(uber_data,drop_first=False)

In [30]:
uber_data.shape

(385663, 49)

In [31]:
uber_data.head()

,hour,day,month,price,distance,temperature,apparentTemperature,precipIntensity,precipProbability,humidity,...,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime,name_Black,name_Black SUV,name_Taxi,name_UberPool,name_UberX,name_UberXL,name_WAV
0,22,30,11,12.0,1.11,40.13,38.08,0.0000,0.00,0.60,...,1543575600,40.53,1543611600,0,0,0,0,0,1,0
1,10,13,12,16.0,1.11,20.38,20.38,0.0000,0.00,0.66,...,1544688000,32.85,1544734800,1,0,0,0,0,0,0
2,19,13,12,7.5,1.11,32.85,32.85,0.0000,0.00,0.56,...,1544688000,32.85,1544734800,0,0,0,0,1,0,0
3,23,16,12,7.5,1.11,41.29,36.01,0.0567,0.94,0.86,...,1545019200,38.38,1544986800,0,0,0,0,0,0,1
4,0,14,12,26.0,1.11,31.25,31.25,0.0000,0.00,0.64,...,1544688000,32.85,1544734800,0,1,0,0,0,0,0

In [32]:
uber_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 385663 entries, 0 to 385662
Data columns (total 49 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   hour                         385663 non-null  int64
 1   day                          385663 non-null  int64
 2   month                        385663 non-null  int64
 3   price                        385663 non-null  float64
 4   distance                     385663 non-null  float64
 5   temperature                  385663 non-null  float64
 6   apparentTemperature          385663 non-null  float64
 7   precipIntensity              385663 non-null  float64
 8   precipProbability            385663 non-null  float64
 9   humidity                     385663 non-null  float64
 10  windSpeed                    385663 non-null  float64
 11  windGust                     385663 non-null  float64
 12  windGustTime                 385663 non-null  int64
 13  visibility                   385663 non-null  float64
 14  temperatureHigh              385663 non-null  float64
 15  temperatureHighTime          385663 non-null  int64
 16  temperatureLow               385663 non-null  float64
 17  temperatureLowTime           385663 non-null  int64
 18  apparentTemperatureHigh      385663 non-null  float64
 19  apparentTemperatureHighTime  385663 non-null  int64
 20  apparentTemperatureLow       385663 non-null  float64
 21  apparentTemperatureLowTime   385663 non-null  int64
 22  dewPoint                     385663 non-null  float64
 23  pressure                     385663 non-null  float64
 24  windBearing                  385663 non-null  int64
 25  cloudCover                   385663 non-null  float64
 26  uvIndex                      385663 non-null  int64
 27  visibility.1                 385663 non-null  float64
 28  ozone                        385663 non-null  float64
 29  sunriseTime                  385663 non-null  int64
 30  sunsetTime                   385663 non-null  int64
 31  moonPhase                    385663 non-null  float64
 32  precipIntensityMax           385663 non-null  float64
 33  uvIndexTime                  385663 non-null  int64
 34  temperatureMin               385663 non-null  float64
 35  temperatureMinTime           385663 non-null  int64
 36  temperatureMax               385663 non-null  float64
 37  temperatureMaxTime           385663 non-null  int64
 38  apparentTemperatureMin       385663 non-null  float64
 39  apparentTemperatureMinTime   385663 non-null  int64
 40  apparentTemperatureMax       385663 non-null  float64
 41  apparentTemperatureMaxTime   385663 non-null  int64
 42  name_Black                   385663 non-null  uint8
 43  name_Black SUV               385663 non-null  uint8
 44  name_Taxi                    385663 non-null  uint8
 45  name_UberPool                385663 non-null  uint8
 46  name_UberX                   385663 non-null  uint8
 47  name_UberXL                  385663 non-null  uint8
 48  name_WAV                     385663 non-null  uint8
dtypes: float64(25), int64(17), uint8(7)
memory usage: 129.1 MB

# split the data

In [33]:
X = uber_data.drop(columns="price").values
Y = uber_data["price"].values.reshape(-1,1)

In [34]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [35]:
from sklearn.preprocessing import StandardScaler
scaler_x = StandardScaler()
scaler_y = StandardScaler()

x_train = scaler_x.fit_transform(x_train)
y_train = scaler_y.fit_transform(y_train)

x_test = scaler_x.transform(x_test)

In [36]:
x_train

array([[-1.24020633,  0.92205328, -1.19189829, ...,  2.44718141,
        -0.40785533, -0.40869818],
       [ 1.35164169,  0.92205328, -1.19189829, ..., -0.40863338,
        -0.40785533, -0.40869818],
       [ 0.34370079, -1.58419026,  0.83899776, ..., -0.40863338,
         2.45184979, -0.40869818],
       ...,
       [ 0.05571768, -0.08044414,  0.83899776, ..., -0.40863338,
        -0.40785533,  2.44679335],
       [ 0.19970924,  1.02230302, -1.19189829, ..., -0.40863338,
        -0.40785533,  2.44679335],
       [ 0.91966702,  0.0198056 ,  0.83899776, ..., -0.40863338,
        -0.40785533,  2.44679335]])

In [37]:
y_test

array([[16. ],
       [ 7.5],
       [13. ],
       ...,
       [10.5],
       [ 8.5],
       [12.5]])

In [38]:
x_test

array([[-0.37625699, -1.48394052,  0.83899776, ..., -0.40863338,
         2.45184979, -0.40869818],
       [-0.52024855,  0.0198056 ,  0.83899776, ..., -0.40863338,
        -0.40785533, -0.40869818],
       [ 1.6396248 ,  1.02230302, -1.19189829, ..., -0.40863338,
         2.45184979, -0.40869818],
       ...,
       [ 1.49563325, -0.28094362,  0.83899776, ...,  2.44718141,
        -0.40785533, -0.40869818],
       [ 0.91966702, -1.68444001,  0.83899776, ...,  2.44718141,
        -0.40785533, -0.40869818],
       [ 0.63168391,  0.82180354, -1.19189829, ..., -0.40863338,
        -0.40785533, -0.40869818]])